# Create dictionary from CSV of blogs

First take a look at the first few lines of the file `blogtext.csv`. The only column that this script will work with is the column labeled `text`, which contains the entire text of the given blog.

In [19]:
import pandas as pd
pd.read_csv("blogtext.csv").head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [16]:
import pandas as pd
import re

pattern_alpha = re.compile(r'[^a-zA-Z\s]')

def transform(x):
    # my_string = re.sub(r'[^a-zA-Z\s]', ' ', x)
    my_string = pattern_alpha.sub(' ', x)
    return my_string.upper().split()

df_acticles = pd.read_csv("blogtext.csv")['text']

df_words = df_acticles.apply(lambda x: transform(x))

unique = set(df_words.explode().dropna())

with open('dictionary-py.txt', 'w', encoding='utf-8') as file:
    for element in sorted(unique):
        file.write(F'{element}\n')

Find words with too many repeating letters

In [32]:
import pandas as pd
import re

pattern = re.compile(r'(.)\1{2}')

df = pd.read_csv('source-dict.txt', header=None).dropna()
# df.info()
df[~df[0].str.contains(pattern,regex=True)][0].to_csv('source-dict.txt', header=None, index=None)

/var/folders/t1/rw8xyq5520qc657202wvf_tc0000gn/T/ipykernel_31481/4081542684.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[~df[0].str.contains(pattern,regex=True)][0].to_csv('source-dict.txt', header=None, index=None)

In [56]:
import pandas as pd
import re

# Sample DataFrame
data = {
    'words': ['aaa', 'bbb', 'cccc', 'dddeee', 'eeefff', 'ggg', 'hhiii', 'jjjkkk', 'apple', 'bananaa']
}
df = pd.DataFrame(data)

# Define the regular expression pattern for exactly 3 consecutive repeating characters
pattern = r'(?<!\1)(.)\1{2}(?!\1)'

# Filter the Series to retrieve words that match the pattern
filtered_series = df['words'][df['words'].str.contains(pattern)]

# Print the filtered Series
print(filtered_series)

KeyboardInterrupt